<div id="main-container">
  <p>Goals</p>
  <p>Log</p>
  <p>Gym</p>
  <p>Writing</p>
  <p><%= link_to "Books", books_path %></p>
  <p><%= link_to "Games", games_path %></p>
</div>

For lists, follow Trello format using Dragula.
https://bevacqua.github.io/dragula/

<div id="main-title"></div>
