<!-- Shared modal -->
<div class="modal fade bd-example-modal-sm" id="<%= item_name.parameterize + '-modal' %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      Do you want to move <%= item_name %> to <%= item_status %>?
    </div>
  </div>
</div>