div.drag-container {
  border-style: solid;
  border-width: 2px;
  border-color: black;

  padding: 0px;
}

div.drag-container > div.item {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  height: 50px;

  border-style: solid;
  border-width: 1px;
  border-color: green;

  padding: 5px;
}

div#todo-box {

}

div#up-next-box {
  
}

div#done-box {

}